.like-button,
save-button {
    font-size: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.like-button.like {
    color: red;
}

.save-button.save {
    color: green;
}